.sign-up-img {
  background: url("../../assets/sign-up-img.jpg"), rgba(226, 184, 135, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
