@import "../../scss/base";
@import "../../scss/mixin";

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0rem 6rem;

    @include respond(bigTablet) {
        padding: 0rem 3rem;
    }

    @include respond(midTablet) {
        padding: 0rem 2rem;
        width: 100%;
    }

    @include respond(phone) {
        padding: 0rem 3rem;
    }




    & .intro-box {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 5rem 0 2rem;

        & .greeting {
            font-size: 2.3rem;
            font-weight: 600;
            color: $color-primary;
            text-transform: capitalize;
        }

        & .greeting-question {
            font-size: 1.4rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.69);
        }
    }

    & .name-sign {
        margin-left: auto;
        border-radius: 50%;
        background-color: $color-primary;
        font-size: 3rem;
        font-weight: 800;
        color: $color-text-1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7rem;
        width: 7rem;


        @include respond(phone) {
            display: none;
        }
    }
}