$color-primary: #00302e;
$color-secondary: #fbddbb;
$color-tertiary: #0b0d17;
$color-text-1: #ffffffde;
$color-text-2: #ffffffbd;
$color-text-3: #fffffff2;
$color-white: #fff;
$color-error: rgba($color: red,
    $alpha: 0.5,
  );
$color-black: #000000;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-tertiary: "Rubik", sans-serif;

$font-text: 1.8rem;
$font-heading: 6rem;
$font-sub-heading: 3.5rem;