@import "../../scss/base";
@import "../../scss/mixin";

.list-container {
    flex: 1;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    grid-row-gap: 4rem;
    justify-content: space-between;
    padding: 2rem 2rem 4rem 0rem;

    @include respond(bigTablet) {
        grid-row-gap: 3rem;
        grid-column-gap: 4rem;
    }

    @include respond(tablet) {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }

    @include respond(midTablet) {
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
    }

    @include respond(phone) {
        grid-row-gap: 4rem;
        padding: 2rem 2rem 4rem;
        overflow-y: unset;
    }

    &::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-white
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba($color-primary, .1);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


}