@import "../../scss/base";
@import "../../scss/mixin";


.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, .3);
    display: flex;
    cursor: pointer;

    @include respond(midTablet) {
        background-color: $color-white;
    }

    & .modal-child {
        margin-left: auto;
        background-color: $color-white;
        cursor: default;



        @include respond(midTablet) {
            width: 100%;
            height: 90vh;
        }
    }
}

.back-btn {
    align-self: flex-start;
    background: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: .5rem 1.5rem;
    font-size: $font-text;
    margin-bottom: 1rem;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}